$color-main: #81d8d0;
body {
  font-family: 'Dancing Script', cursive;

}
.main-page {
  height: 100%;
  background-color: $color-main;
}

p {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 300px;
  font-size: 30px;
}
