$color-main: #81d8d0;
$gold-border: #f4b841;

.main-page {
  border-top-width: 100vh;
  height: 100%;
  width: 100%;

  section {
    padding-left: 10em;
    padding-right: 10em;
    border-top-color: $gold-border;
    border-top-style: solid;
    font-size: 24px;
  }

  p {
    margin-top: 95px;
    margin-bottom: 95px;
    opacity: .7;
    background-color: white;
    padding: 60px 25px;
    border-color: $color-main;
    border-style: groove;
  }
}

#first-section {
  margin-top: 225px;
};
