$color-main: #0abab5;
$gold-border: #f4b841;

.App {
  // margin: 10vw;
  // background: $color-main;
  // background-color: white;
  background-image: url('./Resources/home_background.png');
  // width: 100%;
  // background-repeat: repeat-y;

  // section {
    // border-top-color: $gold-border;
    // border-top-width: 6px;
  //   border-top-style: double;
    // margin-left: 10vw;
  //   margin-right: 10vw;
  //   margin-top: 225px;
  //   font-size: 30px;
  // }
  bottom: 0;
}
